/LwuitIndicatorWidgetTest/Desktop/nbproject/private/
/LwuitIndicatorWidgetTest/nbproject/private/
/LwuitIndicatorWidgetTest/RIM/nbproject/private/
/LwuitIndicatorWidgetTest/MIDP/nbproject/private/
/LwuitIndicatorWidgetTest/build/
/LwuitIndicatorWidgetTest/Desktop/build/
/LwuitIndicatorWidgetTest/dist/
/LwuitIndicatorWidgetTest/Desktop/dist/